<!DOCTYPE html>
  <head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <style type="text/css">
        .blockname {
            margin-top: 10px;
            padding-left: 70px;
            padding-right: 15px;
            width: 200px;
        }
        .block1 {
            float: left;
            margin-left: 20px;
            margin-right: 30px;
            width: 200px;
        }

        .block2 {
            float: left;
            margin-left: 50px;
            margin-top: 10px;
            width: 500px;
        }
        .block3 {
            float: none;
            margin-left: 60px;
            margin-top: 20px;
            width: 150px;
        }
        .container {
            background-color: #D4D4D4;
            margin: 0px auto;
            padding-right:24px;
            padding-left:24px;
        }
      </style>
  </head>

  <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Skynet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                {% if session.logged_in %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                        <span class="glyphicon glyphicon-home" aria-hidden="true">
                        <a href="{{ url_for('root')}}">Home</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-camera" aria-hidden="true">
                        <a href="{{ url_for('photos', username=session.get('username'))}}">Photos</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true">
                        <a href="#">Videos</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                        <a href="#">Friends</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
                        <a href="#">Places</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-cog" aria-hidden="true">
                        <a href="#">Settings</a>
                    </li>
                  </ul>
                </li>
                {% endif %}
              </ul>
              <form class="navbar-form navbar-left">
                <form action="{{ url_for('user_search') }}" method="post" class="user_search">
                  <div class="form-group">
                    <input type="text" class="form-control" name="user-search" placeholder="Search user">
                  </div>
                  <a href="/user_search">
                    <button type="button" class="btn btn-default" aria-label="Search">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </a>
                </form>
              </form>
              <ul class="nav navbar-nav navbar-right">
                {% if session.logged_in %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% block flash %}
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for message in messages %}
                        {% if "Error" not in message[1]: %}
                            <div class="alert alert-info">
                              <strong>Success! </strong> {{ message[1] }}
                            </div>
                        {% endif %}
                        {% if "Error" in message[1]: %}
                            <div class="alert alert-warning">
                              <strong>Error! </strong> {{ message[1] }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% endblock %}
        <br>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
        <br>
        <div class="container">
        {% block user_content %}{% endblock %}
        </div>
        <br>
      </div>
    </div>


  </body>
</html>
