<!DOCTYPE html>
  <head>
    {% if title != 'rororo'%}
        <title>{{ title }}</title>
    {%  else %}
        <title>ololo</title>
    {% endif %}
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/bootstrap.min.js"></script>
    <style type="text/css">
        .blockname {
            margin-top: 10px;
            padding-left: 70px;
            padding-right: 15px;
            width: 200px;
        }
        .block1 {
            float: left;
            margin-left: 20px;
            margin-right: 30px;
            width: 200px;
        }

        .block2 {
            float: left;
            margin-left: 50px;
            margin-top: 10px;
            width: 500px;
        }
        .block3 {
            float: none;
            margin-left: 60px;
            margin-top: 20px;
            width: 150px;
        }
      </style>
  </head>

  <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Skynet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                <li><a href="/admin">Admin</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


    <div class="blockname">
        <b>{{ username }}</b>
    </div>

    <div class="block1">
        <ul class="thumbnails">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="">
            </a>
        </ul>
    </div>


    <div class="block2">
        {% block content %} {% endblock %}
    </div>
{#    <div class="block2">#}
{#        <p><b>Pictures</b></p>#}
{#        <div class="row">#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-xs-6 col-md-3">#}
{#            <a href="#" class="thumbnail">#}
{#              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{#    </div>#}


    <div class="block3">
        <ul class="nav nav-list">
          <li class="nav-header"><b>Menu epta:</b></li>
          <li class="active"><a href="/mypage">My page</a></li>
          <li><a href="/pictures">Pictures</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/blog">Dat guy blog</a></li>
          <li><a href="#">Кнопка3</a></li>
        </ul>
    </div>


  </body>
</html>
