{% extends "layout.html" %}
{% block content %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class="container">
      <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        <h2>Please log in!</h2>
          <div class="row">
            <input type="username" name="username" placeholder="Username">
          </div>
        <br>
        <div class="row">
          <input type="password" name="password" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Log in</button>
        <a href="{{ url_for('sign_up')}}" class="btn btn-success">Sign up</a>
      </form>
      <br>
    </div>
{% endblock %}
