<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Welcome to Skynet!</title>
        <meta name="description" content="Custom Login Form Styling with CSS3" />
        <meta name="keywords" content="css3, login, form, custom, input, submit, button, html5, placeholder" />
        <meta name="author" content="Codrops" />
        <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" type="text/css" />
        <script src="{{ url_for('static', filename='js/modernizr.custom.63321.js')}}"></script>
        <!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
    </head>
	
    <body>
        <div class="container">
			
			    <header>
				
				    <div class="support-note">
					    <span class="note-ie">Sorry, only modern browsers.</span>
				    </div>
				
			    </header>
			
			    <section class="main">
            <form class="form-2" action="/login" method="POST">
              {{ form.hidden_tag() }}
					    <h1><span class="log-in">Log in</span> or
                <span class="sign-up">
                  <a href="{{ url_for('sign_up')}}" class="btn btn-success">Sign up</a>
                </span>
              </h1>
					    <p class="float">
						    <label for="login"><i class="icon-user"></i>Username</label>
						    <input type="username" name="username" placeholder="Username">
					    </p>
					    <p class="float">
						    <label for="password"><i class="icon-lock"></i>Password</label>
						    <input type="password" name="password" placeholder="Password">
					    </p>
              <p class="clearfix">    
						    <input type="submit" name="submit" value="Log in">
					    </p>
				    </form>​​
			    </section>
			
        </div>
    </body>
</html>