{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <h1 class="page-header">
        Pictures
      </h1>
    </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg" alt="http://imagens.mdig.com.br/retrospectiva/mugshots_2012_06.jpg">
            </a>
          </div>
        </div>


{% endblock %}