{#{% extends "layout.html" %}#}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_post') }}" method=post class=add-post>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=posts>
  {% for i in posts %}
    <li><h2>{{ i.title }}</h2>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
    <a href="/admin">Click me to get to Admin!</a>
{% endblock %}
