{% extends "layout.html" %}
{% block content %}
  <br>
  {% if session.logged_in %}
    <form action="{{ url_for('add_post') }}" method=post class=add-post>
      {{ form.hidden_tag() }}
      <div class=row>
        <div class=col-lg-10>
          <input type=text size=30 name=title placeholder="Title">
        </div>
      </div>
        <br>
      <div class=row>
        <div class=col-lg-10>
          <input name=text rows=5 cols=40 placeholder="Your text">
        </div>
      </div>
      <br>
      <div class=row>
        <div class=col-lg-10>
          <button type="submit" class="btn btn-success">Post!</button>
        </div>
      </div>
    </form>
  <br>
  {% endif %}
  <div class=row>
    <ul class=posts>
      {% for post in posts %}
        <div class=col-lg-10>
          <li><h2>{{ post.title.capitalize() }} on {{ post.date.strftime("%A, %d. %B %Y %I:%M %p") }}</h2>
          <li><h4>{{ post.text }}</h4>
        </div>
      {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
