{% extends "layout.html" %}

{% block content %}
<div class="container">


  <h2>Please sign up!</h2>
    <form action="/sign_up" method="POST">
      {{ form.hidden_tag() }}
    <div class="row">
          <input type="username" name="username" placeholder="Username">
    </div>
    <br>
    <div class="row">
      <input type="password" name="password" placeholder="Password">
    </div>
    <br>
    <div class="row">
      <input type="name" name="name" placeholder="Name">
    </div>
    <br>
    <div class="row">
      <input type="second_name" name="second_name" placeholder="Second Name">
    </div>
    <br>
    <div class="row">
      <input type="nick" name="nick" placeholder="Nick">
    </div>
    <br>
    <div class="row">
      <input type="city" name="city" placeholder="City">
    </div>
    <br>
    <div class="row">
      <button type="submit" class="btn btn-success">Sign Up</button>
      <a href="{{ url_for('login')}}" class="btn btn-success">Login</a>
    </div>
  </form>

  <br>
</div>
{% endblock %}