<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
       <title>SIGN UP!!!</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">


  <h2>Please sign up!</h2>
    <form action="/sign_up" method="POST">
    <div class="row">
          <input type="username" name="username" placeholder="Username">
    </div>
    <br>
    <div class="row">
      <input type="password" name="password" placeholder="Password">
    </div>
    <br>
    <div class="row">
      <input type="name" name="name" placeholder="Name">
    </div>
    <br>
    <div class="row">
      <input type="second_name" name="second_name" placeholder="Second Name">
    </div>
    <br>
    <div class="row">
      <input type="nick" name="nick" placeholder="Nick">
    </div>
    <br>
    <div class="row">
      <input type="city" name="city" placeholder="City">
    </div>
    <br>
    <div class="row">
      <button type="submit" class="btn btn-success">Sign Up</button>
      <a href="{{ url_for('login')}}" class="btn btn-success">Login</a>
    </div>
  </form>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

</div>
</body>
</html>